//@theme "/home/cristian/.config/rofi/moderm.rasi"

//@theme "/usr/share/rofi/themes/purple.rasi"

//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

//@theme "/usr/share/rofi/themes/glue_pro_blue.rasi"

//@theme "/home/cristian/.local/share/rofi/themes/rounded-gray-dark.rasi"

//@theme "/home/cristian/.local/share/rofi/themes/windows11-list-dark.rasi"

@theme "/home/cristian/.local/share/rofi/themes/rounded-purple-dark.rasi"
